*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, serif;

}
.header, .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #ffffff;
    color: #000000;
}
.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 64px;
}
.navbar ul li a {
    color: #000000;
    text-decoration: none;
}
