body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('/images/Z1.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
 
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.auth-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
}

.header-content {
    padding: 50px 0;
}

.header-content h1 {
    font-size: 48px;
    margin: 0;
}

.header-content p {
    font-size: 24px;
    margin: 10px 0 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-bar input {
    padding: 10px;
    font-size: 18px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.services {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
}

.service {
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 100px 50px;
    color: white;
    width: 300px;
}

.order-online {
    background-image: url('/images/Z2.jpeg');
}

.dining {
    background-image: url('/images/Z3.jpeg');
}

.collections {
    text-align: center;
    padding: 50px 0;
}

.collection-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.collection-item {
    background-color: #f9f9f9;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.collection-item img {
    width: 100%;
    height: auto;
}

.localities {
    padding: 50px 0;
    text-align: center;
}

.locality-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.locality-item {
    text-align: center;
    width: 150px;
}

.locality-item img {
    width: 100%;
    height: auto;
}

.app-promo {
    padding: 50px 0;
    text-align: center;
    background-color: #f9f9f9;
}

.app-form {
    display: flex;
}